.head{
    box-sizing: border-box;
    background-image: url(../images/Fresh.jpg);
    width: 100%;
    height: 750px;
    /* background-attachment: fixed; */
    color: dimgrey;
    background-size: cover;
    /* overflow: hidden;  */
    position: relative;
 }
 .Top{
    display: flex;
    font-size: 16px;
 }
 .left {
    padding: 20px;
    float: left;
    width: 75%; 
  }
  .right {
    padding: 20px;
    float: left;
    width: 25%; 
  }
  @media screen and (max-width: 900px) {
    .left,.right {
       width: 100%; 
      font-size: 7px;
    }
    .right{
        width: 25%;
    }
    .left{
        width:75%;
    }
    .head{
      box-sizing: border-box;
      background-image: url(../images/Fresh.jpg);
      width: 100%;
      height: 800px;
      /* background-attachment: fixed; */
      color: dimgrey;
      background-size: cover;
      /* overflow-x: hidden;  */
      position: relative;
   }
  }
  div .logo{
    display: flex;
    float: left;
    margin: 5px 0px 5px 20px;
    padding-top: 20px;
}
@media screen and (max-width: 900px) {
     nav .nav a{
        display: grid;
     }
} 
div .next{
  /* background-color: burlywood; */
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 /* .topnav {
  overflow: hidden;
  background-color: #333;
} */

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 15px;
}
.topnav a.active {
  font-weight: bold;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .topnav a{display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 
h1{
  text-align: center;
  font-size: 4rem;
  color: white;
  font-weight: 700;
  font-family: 'Lora', serif
}
h2{
  text-align: center;
  font-size: 2.25rem;
  color: #ff974f;
  line-height: 1.6;
  font-family: inherit;
  font-weight: 500;
}
.prat a{
  padding: 14px 22px;
  color: #f2f2f2;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  background-color: #ff974f;
  border-radius: 4px;
  margin-left: 43%;
}
.prat a:hover{
  background-color: #ff984fc9;
}
@media screen and (max-width: 900px){
  .prat a{
    margin-left: 32%;
  }
}
/* .background{
  background-color: #fff;
  background-size: cover;
  background-position: center;
} */
section div.images{
  display: flex;
  max-width: 90%;
  background-color:#fff;
  text-align: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin-left: 5%;
  padding: 1px 0px 1px 0px;
  vertical-align: middle;
}
.images img{
  width: 350px;
  margin-left: auto;
  display: block;
  max-width: 100%;
  height: auto;
  padding: 10px 25px 10px 12.5px;
}
@media screen and (max-width: 900px){
  section div.images{
    display: block;
    max-width: 100%;
    width: 100%;
    box-sizing: 100%;
    margin-left: 0px;
    
  }
  .images img{
    width: 100%;
    /* margin-right: 30%; */
    padding: 0px 0px 0px 0px;
  }
}
h6{
  font-size: 1rem;
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-weight: 700;
  color: #1f2a30;
}
h3{
  font-size: 2rem;
  color: #1f2a30;
  font-family: 'Lora', serif;
  position: relative;
  font-weight: 700;
  margin: 10px 0 80px;
  text-transform: uppercase;
  /* font-size: 3rem; */
}
h3:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -38px;
  width: 80px;
  height: 2px;
  background-color: #ff974f;
}
.section{
  margin-left: 7%;
  display: flex;
}
.section a{
  text-decoration: none;
  color: black;
  border: 1px solid silver;
  padding: 14px 22px;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 4px;
}
.section a:hover{
  border:1px solid #ff974f
}
.world{
  display: flex;
  width: 300px;
  margin-left: 4%; 
}
.war{
  padding: 0px 0px 0px 20px;
}
.fight{
  padding: 0px 0px 0px 20px;
}
@media screen and (max-width: 900px){
    .section{
      display: block;
      max-width: 100%;
      width: 100%;
      box-sizing: 100%;
      margin-left: 0px;
      font-size: 1.5rem;
   } 
   .world{
    width: 100%;
    display: inline;
    /* margin-right: 30%; */
    padding: 0px 0px 0px 0px;
    font-size: 1.5rem;
   }
    .war img{
    display: inline; 
    width: 400px;
    font-size: 1.5rem;
   }
   .fight img{
   display: inline;  
    width: 10%;
    height: 500px;
   }
   h4{
    font-size: 2rem;
   }
   p{
    font-size: 1.5rem;
   }
   p2{
    font-size: 1.5rem;
   }
}
.end{
  background-image: url(../images/reads.jpg);
  height: 780px;
  overflow: hidden;
  padding: 80px;
}
.real{
  border: 2px solid #fff;
  max-width: 99%;
  height: 800px;
  display: flex;
  margin-left: 10px;
  background-color: #fff;
}
.hmm .social-links #face{
  padding: 10px 20px; 
  border: 1px solid silver;
  border-radius: 5px;
  margin-top: 100px;
}
.hmm .social-links :hover{
  color: #ff974f;
}
form{
  margin-left: 300px;
  padding : 40px 22px;
}
form .name{
  padding: 30px 80px;
  border-radius: 5px;
}
::placeholder{
  text-align: left;
}
.message{
  padding: 50px 83px;
  border-radius: 5px;
}
.submit{
  padding: 14px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #ff974f;
  border: 1px solid #ff974f;
  border-radius: 5px;
  margin-left: 150px;
}
.submit:hover{
  background-color: #ff984fe1;
}
p4{
  font-size: 18px;
  color: #1f2a30;
}
.active{
  font-weight: bold;
}
.menu{
  border: 2px solid #ff974f;
  border-radius: 4px;
  padding: 12px 22px;
}
@media screen and (max-width: 900px){
  .end{
    background-image: url(../images/reads.jpg);
    background-size: cover;
    height: 1280px;
    /* overflow: hidden; */
    padding: 80px;
  }
  .real{
    display: block;
    border: 2px solid #fff;
    max-width: 100%;
    height: 1250px;
    margin-left: 15px;
    background-color: #fff;
  }
  .hmm .social-links  #face{
    padding: 1px 5px; 
    border: 1px solid silver;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
  }
  .hmm .social-links  #face:hover{
    color: #ff974f;
  }
  form{ 
    margin-left: 100px;
    padding : 40px 22px;
  }
  .message{
    padding: 50px 83px;
    border-radius: 5px;
  }
  .submit{
    padding: 14px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #ff974f;
    border: 1px solid #ff974f;
    border-radius: 5px;
    margin-left: 100px;
  }
}
a.contact{
  border: 1px solid #ff974f;
  padding: 14px 16px;
}
